.page {
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.page__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 880px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .page__content {
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 770px) {
  .page__section {
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 680px) {
  .page__content {
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 320px) {
  .page__content {
    max-width: 320px;
  }
}
