.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  padding: 0 19px;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  font-family: "Inter", Arial, sans-serif;
  line-height: auto;
  font-weight: 900;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  max-height: 330px;
  min-width: 430px;
  box-sizing: border-box;
  margin: 195px auto auto;
}

.modal__close {
  position: absolute;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-image: url(../images/close.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__heading {
  margin: 0 0 24px;
  font-size: 24px;
}

.modal__form {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}

.modal__input {
  width: 100%;
  min-height: 27px;
  margin-bottom: 32px;
  outline: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.modal__edit-save-button {
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 13px 125px 18px;
  margin-top: 18px;
  text-align: center;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
}

.modal__edit-save-button_disabled {
  opacity: 0.2;
  cursor: default;
}

.modal__edit-save-button:hover:not(:disabled) {
  opacity: 0.8;
}

.modal__preview-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.modal__preview {
  margin: auto;
  background-color: rgba(0, 0, 0, 1);
  position: relative;
  border-radius: 10px;
  max-width: 75vw;
  max-height: 75vh;
  display: flex;
}

.modal__preview-caption {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  color: white;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
}

.modal__error_wrapper {
  position: relative;
}

.modal__error {
  color: red;
  position: absolute;
}

.modal__error_visible {
  color: red;
  position: absolute;
  top: 30px;
  left: 1px;
}

.modal__input_type_error {
  border-bottom: 1px solid red;
}

@media screen and (max-width: 540px) {
  .modal__container {
    min-width: 210px;
    margin: 123px auto auto;
  }

  .modal__close {
    bottom: calc(100% + 20px);
    left: calc(100% + -30px);
    width: 26px;
    height: 26px;
  }

  .modal__form-title .modal__input_type_title {
    margin: 75px 0 30px 0;
  }

  .modal__form-description .modal__input_type_text {
    margin-bottom: 45px;
  }

  .modal__edit-save-button {
    font-size: 14px;
    line-height: 27px;
  }
}

@media screen and (max-width: 360px) {
  .modal__container {
    padding: 25px 22px;
  }

  .modal__heading {
    font-size: 18px;
    margin-bottom: 45px;
  }

  .modal__edit-save-button {
    padding: 14px 100px;
    margin-top: 15px;
  }
}
