.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  gap: 16px 18px;
  align-items: center;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
}

.profile__edit-button {
  background: transparent url(../images/Edit_Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  margin: 15px 15px 9px 0;
  border: 1px solid white;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  background: transparent url(../images/Add_Button.png) center no-repeat;
  width: 150px;
  height: 50px;
  margin: 0 0 0 auto;
  border: 2px solid #fff;
  border-radius: 2px;
  transition: opacity 0.3s;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 24px;
}

.profile__image-overlay {
  position: absolute;
  visibility: hidden;
  height: 26px;
  width: 26px;
  left: 45px;
  bottom: 50px;
}

.profile__image-container:hover {
  opacity: 80%;
  cursor: pointer;
}

.profile__image-container:hover .profile__image-overlay {
  visibility: visible;
  opacity: 100%;
}

@media screen and (max-width: 770px) {
  .profile {
    padding: 42px 19px 0 19px;
  }

  .profile__info {
    justify-content: start;
    flex-wrap: wrap;
    grid-gap: 14px 10px;
    max-width: 282px;
  }

  .profile__title {
    line-height: normal;
    font-size: 22px;
    max-width: calc(100vh - 124px);
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0;
    display: inline-block;
  }

  .profile__description {
    font-size: 14px;
    line-height: 17px;
    max-width: calc(100vh - 124px);
  }

  .profile__add-button {
    width: 55px;
  }
}

@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
    padding: 42px 19px 0 19px;
  }

  .profile__image {
    margin: 0 auto 30px auto;
  }

  .profile__info {
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 14px 10px;
    max-width: 282px;
  }

  .profile__title {
    line-height: normal;
    font-size: 22px;
    margin: 0;
    max-width: calc(100vh - 124px);
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0;
    display: inline-block;
  }

  .profile__description {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    max-width: calc(100vh - 124px);
  }

  .profile__add-button {
    margin: 35px 0 0 0;
    width: 282px;
  }
}
